.about{
    display: flex;
}

.about_right{
    position: relative;
    height: 38vw;
}

.about_left{
    height: 25vw;
    width: 30vw;
}

@media (width<600px) {
    .about{
        flex-direction: column;

    }
    .about_title{
        text-align: center;

    }
    .about_left{
        width: 100%;
        height: auto;
    }
    .about_right{
        height: 55vw;
        margin-top: 24vw;
        margin-left: 12vw;
        transform: scale(1.5);
    }

}

.about_title{
    font-size: var(--title-size);
    font-family: "VIVL Rail";
    margin-top: 3vw; 
    margin-bottom: 2vw;

}

.about_subtitle{
    font-size: var(--subtitle-size);
    font-family: "FRACTAL";
}

.about1 {
    position: absolute;
    width: 21vw;
    height: auto;
    left: 8vw;
    top: -5vw;
    z-index: 2;
}

.about2 {
    position: absolute;
    width: 21vw;
    height: auto;
    left: 12.4vw;
    top: 18.5vw;
    z-index: 2;
}

.about3 {
    position: absolute;
    width: 15.5vw;
    height: auto;
    left: 38vw;
    top: 3.3vw;
    z-index: 2;
}

.aboutl1{
    position: absolute;
    width: 11vw;
    height: auto;
    top:4.2vw;
    left: 28vw;
    z-index: 1;
}

.aboutl2{
    position: absolute;
    width: 6vw;
    height: auto;
    top: 14.6vw;
    left: 32.5vw;
    z-index: 1;
}