.work{
    position: relative;
}


.work-contaner{
    position: absolute;
    z-index: 2;
    top: 0vw;
    left: 0;
    right: 0;
    bottom: 0;
}

.back_2{
    margin-top: -22vw;
    width: 100vw;
    z-index: 0;
}

.work_title {
    color: #fff;
    mix-blend-mode: difference;
    font-size: var(--title-size);
    font-family: "VIVL Rail";
    margin-top: 3vw; 
    margin-bottom: 2vw;
    width: 27vw;
}

.work_subtitle {
    color: #fff;
    width: 28vw;
    font-size: var(--subtitle-size);
    font-family: "FRACTAL";
    margin-bottom: 3vw;
}

.card{
    position: relative;
    background-color: snow;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border-radius: 1em;
    margin-top: 11vw;
    box-shadow: 0.5em 0.5em 3em rgb(0, 0, 0);
    z-index: 1;
}

.img1{
    width: clamp(33vh,33vw,33vw);
    position: relative;
    height: auto;
    margin-top: -7.5vw;
    border-radius: 1em;
    z-index: 2;
}
.flex{
    display: flex;
    gap: 3vw;
    transition-duration: 1s;
}

.work_undertext{
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #ADADAD;
    gap: 1vw;
    z-index: 3;
}


.work_inline li{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter-Light";
    font-size: clamp(1vh,1vw,1vw);
    width: clamp(6vh,6vw,6vw);
    height: clamp(2vh,1.5vw,1.5vw);
    border: 0.1em #ADADAD solid;
    margin-bottom: 1vw;
    margin-top: 0.7vw;
    border-radius: 0.5em;
    z-index: 3;
} 


.flexbutton button{
    position: relative;
    width: clamp(7vh,5vw,5vw);
    height: clamp(4.5vh,3vw,3vw);
    background-color: #fff;
    border-radius: 2em;
    border:0;
    box-shadow: 0.5em 0.5em 3em rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.flexbutton{
    display: flex;
    margin-top: 4vw;
    gap:2vw;
}

.buttonleft{
    margin-left: 13vw;
}

.flexbutton button img{
    width: clamp(3vh,2vw,2vw);
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.arrowL{
    transform:rotate(180deg);
    padding-left: 1.5vw;
}

.arrowR{
    padding-left: 1.5vw;
}

@media (width<600px) {
    .back_2{
        margin-top: -27vw;
    } 
    .work_subtitle{
        width: 100%;
    }
}