.about_title{
    font-size: 64px;
    font-family: "VIVL Rail";
    margin-top: 50px;
    margin-bottom: 30px;
    width: 400px;
}

.about_subtitle{
    font-size: 20px;
    font-family: "FRACTAL";
    width: 400px;
}

.about1 {
    position: relative;
    width: 300px;
    height: auto;
    left: 600px;
    top: -400px;
}

.about2 {
    position: relative;
    width: 300px;
    height: auto;
    left: 450px;
    top: -50px;
}

.about3 {
    position: relative;
    width: 230px;
    height: auto;
    left: 550px;
    top: -250px;
}