@font-face {
    font-family: "VIVL Rail";
    src: url("../font/vivl-rail.otf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FRACTAL";
    src: url("../font/fractal.otf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Deledda Regular";
    src: url("../font/Deledda\ Open\ Regular.ttf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Light";
    src: url("../font/Inter-Light.otf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
.font_Inter{
    font-family: Inter-Light;
}

.font_VIVL {
    font-family: VIVL Rail;
}
.font_FRACTAL {
    font-family: FRACTAL;
}
.font_Deledda {
    font-family: Deledda Regular;
}

/* Общие стили */
body {
    background-color: #fff;
}

a {
    color:black; /*Цвет для ссылок*/
    text-decoration: none; /*Отмена подчеркивания для ссылок*/
}
ul {
    list-style: none; /*Удаление маркеровки у списка*/
    padding: 0;
    margin: 0; /*Удаление отступов*/
}

.container {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto; 
}

/* HEADER */
.header {
    display: flex; /*выравнивание элементов по горизонтали*/
    justify-content:center; /*Выравнивание элементов по центру экрана*/
    align-items: center; /*Выравнивание элементов по центру экрана без растягивания элементов*/
    padding-top: 30px;
    z-index: 20;
    position: fixed;
    left: 0;
    right: 0;
}

.header_list {
    display: flex; /*выравнивание элементов по горизонтали*/
    /* gap: -5px; /*Отсуп между элементами списка*/

}

.header_nav a {
    position: relative;
    color: #ffffff;
    font-family: "VIVL Rail";
    font-size: 1.3vw; /*Размер шрифта*/
    letter-spacing: 0.1em; /*Отсуп между букв*/
    background-color: rgb(84, 84, 84);
    border: 0.2em rgb(61, 61, 61) solid;
    height: 2.5vw;
    width: 15vw;
    margin: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    z-index: 20;
}

.header_nav a:hover {
    opacity: 0.95;
}

.header_left {
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}

.header_right {
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

/* ABOUT */


.welcome-contaner{
    position: absolute;
    z-index: 2;
    top: 19vw;
    left: 0;
    right: 0;
    bottom: 0;
}

.monkey{
    position: absolute;
    width: 38vw;
    height: auto;
    top: 15vw;
    right: 11vw;
    z-index: 1;

}

.logo {
    position: absolute;
    top: 150px;
    left: 100px;
    width: 100px;
    height: auto;
}

.back_1{
    width: 100vw;
}

.welcome {
    position: relative;
}


.welcome_text{
    width: 500px;
}

.welcome_title {
    color: #ffffff;
    font-family: "VIVL Rail";
    font-size: clamp(4.5vh,7vw,7vw); /*Размер шрифта*/
    margin-bottom: 2vw;
}

.welcome_subtitle {
    color: #ffffff;
    font-family: "VIVL Rail";
    font-size: clamp(1.3vh,1.5vw,1.5vw); /*Размер шрифта*/
    letter-spacing: 0.1em;
    margin-bottom: 3vw;
}

.Obutton {
    color: #FFF;
    font-family: "VIVL Rail";
    font-size: clamp(1.3vh,2vw,2vw);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 9vw;
    padding-right: 4vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    border-radius: 42px;
    background: #E87C0D;
    transition: 0.3s;
    border: 0;
}

.Obutton:hover {
    opacity: 0.9;
}